page-shop {
    .title_class{
        color: darkcyan;
        }
        .col{
            padding: 0;
        }
        .row{
         padding: 0; 
        }
        .grid{
         padding: 0;  
        }
        .button{
            margin-top: 0;
        }
}
