page-modal-past {


    .title{
        background-color: #239e46 !important;
   
        color:#fff;
      
    }


    
   
    .accordion{
        max-width: 30px !important;
        margin-right: 15px;
     }

     .accordion2{
        max-width: 90px !important;
        margin-right: 5px;
     }
     img{
         width: 100%;
     }

}
