<!--
<ion-header>

  <ion-navbar color="dark">
    <ion-title>
    <ion-icon name="md-contact"></ion-icon>
    &nbsp;Sign In</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="bg-img">

    <div class="main-content">
      <div padding text-center class="container-logo">
        <img style="width: 25%;" src="assets/imgs/Logo_Web.png">
      </div>
      <div padding class="container-bottom">   
        <div class="errormsg">
          <div *ngIf="email.errors && email.touched">
              <p>Username is required.</p>
          </div>
          <div *ngIf="password.errors && password.touched">
              <p>Password is required.</p>
          </div>
        </div>
  
          <ion-list>
            <ion-item padding-right>
              <ion-label>
                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
              </ion-label>
              <ion-input [(ngModel)]="loginData.email" [formControl]="email" id="email" type="text" required placeholder="Username *"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
              </ion-label>
                <ion-input [(ngModel)]="loginData.password" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>
              <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passeye}}"></ion-icon></button>
            </ion-item>
          </ion-list>
          
          <button type="submit" ion-button full color="dark" (click)="moveToHome()">Sign In</button>
    
    </div>      
      <div class="sepretor-or" padding-horizontal style="color: black"> <p style="color: black">Or</p></div>
  
  
      <div padding text-center class="form-bottom-text" ><a href="javascript:void(0);" style="color: black" (click)="moveToForgot()"> Forgot password?</a></div>
      <div padding text-center class="form-bottom-text">
        <label style="color: black">Don't have an Account? <a href="javascript:void(0);" (click)="moveToReg()" style="color: black">Sign up</a></label>
      </div>
  
      <div padding text-center class="form-bottom-text">
        <label style="color: black">Choose other <a href="javascript:void(0);" (click)="moveToChoose()" style="color: black">language</a></label>
      </div>
  
    </div>
  
  </ion-content> 